In [1]:
import pandas as pd

from companies import earning_calls_id_ticker_map

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
df_earning_calls_sentiment = pd.read_csv("data/text_results/earning_calls_sentiment.csv")

In [4]:
df_earning_calls_sentiment.head()

   company quarter  year  sentiment_score  confidence  complexity
0  1038351      Q1  2010         0.823146    0.897599    0.550775
1  1038351      Q2  2010         0.793994    0.878780    0.558908
2  1038351      Q3  2008         0.689329    0.806418    0.634410
3  1038351      Q4  2009         0.800146    0.881292   -0.204490
4  1038352      Q1  2024         0.866777    0.915681   -0.487684

In [5]:
df_earning_calls_sentiment["year"].unique()

array(['2010', '2008', '2009', '2024', '2023', '2022', '2011', '2012',
       '2013', '2014', '2015', '2016', '2007', '2017', '2018', '2019',
       '2020', '2021', 'Unknown', '2006'], dtype=object)

In [6]:
df_earning_calls_sentiment

       company quarter  year  sentiment_score  confidence  complexity
0      1038351      Q1  2010         0.823146    0.897599    0.550775
1      1038351      Q2  2010         0.793994    0.878780    0.558908
2      1038351      Q3  2008         0.689329    0.806418    0.634410
3      1038351      Q4  2009         0.800146    0.881292   -0.204490
4      1038352      Q1  2024         0.866777    0.915681   -0.487684
...        ...     ...   ...              ...         ...         ...
3863  98045865      Q4  2012         0.819456    0.892526   -0.611821
3864  98045865      Q4  2013         0.839282    0.901727   -0.422945
3865  98045865      Q4  2014         0.844453    0.906125   -0.191016
3866  98045865      Q4  2015         0.857787    0.909274   -0.228727
3867  98045865      Q4  2016         0.838831    0.897273   -0.924674

[3868 rows x 6 columns]

In [7]:
df_earning_calls_sentiment["tic"] = df_earning_calls_sentiment["company"].map(earning_calls_id_ticker_map)

In [8]:
df_earning_calls_sentiment.isna().sum()

company            0
quarter            0
year               0
sentiment_score    0
confidence         0
complexity         0
tic                0
dtype: int64

In [9]:
df_earning_calls_sentiment["datacqtr"] = df_earning_calls_sentiment["year"].astype(str) + df_earning_calls_sentiment["quarter"]

In [10]:
df_earning_calls_sentiment = df_earning_calls_sentiment[["datacqtr", "tic", "sentiment_score", "confidence", "complexity"]].copy()

In [11]:
df_earning_calls_sentiment.rename(
    columns={
        "datacqtr": "datacqtr",
        "tic": "tic",
        "sentiment_score": "earning_calls_sentiment",
        "confidence": "earning_calls_confidence",
        "complexity": "earning_calls_complexity",
    },
    inplace=True,
)

In [12]:
df_earning_calls_sentiment.sort_values(
    by=["tic", "datacqtr"],
    ascending=[True, True],
    inplace=True,
)

In [13]:
df_earning_calls_sentiment = df_earning_calls_sentiment[df_earning_calls_sentiment["datacqtr"] != "UnknownUnknown"]

In [14]:
df_earning_calls_sentiment

,datacqtr,tic,earning_calls_sentiment,earning_calls_confidence,earning_calls_complexity
416,2007Q3,AFCL,0.877225,0.923624,-0.617163
419,2007Q4,AFCL,0.843895,0.904404,-1.162105
412,2008Q1,AFCL,0.850479,0.909344,0.305372
414,2008Q2,AFCL,0.852729,0.911620,-0.412182
417,2008Q3,AFCL,0.819427,0.889452,0.650595
...,...,...,...,...,...
2245,2023Q4,ZION,0.754215,0.851467,-0.512001
2227,2024Q1,ZION,0.810662,0.870786,-1.232186
2233,2024Q2,ZION,0.861487,0.896212,-1.280740
2239,2024Q3,ZION,0.840503,0.909056,-0.981361
2246,2024Q4,ZION,0.764735,0.870468,-0.571319